body {
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 0px;
}

nav {
    background-color: rgba(65, 185, 51, 0.264);
    color: black;
    padding: 10px;
    width: 280px;
}

.nav-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

nav a {
    color: black;
    text-decoration: none;
    margin: 0px 0;
    font-size: 20px;
    text-align: right;
}

nav div {
    display: inline;
    margin-right: 20px;
}

nav a:hover {
    background-color: rgba(167, 48, 218, 0.873);
}

main {
    padding: 10px;
}

section {
    margin: 20px 0;
    border-style: solid;
}

.card {
    border: none;
    margin-bottom: 20px;
    padding: 15px;
}

.car-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.car-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 100px;
}

.car-item img {
    width: 320px;
    height: 320px;
    object-fit: cover;
}


.car-item ul {
    list-style-type: none;
    padding-left: 0;
    text-align: center;
}

.section-title {
    text-align: center;
}


.section-divider {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-top: 2px solid #000;
}

.business-card {
    padding: 0px;
    border-radius: 5px;
    text-align: left;
}

.business-card-image {
    max-width: 300px;
    height: 150px;
}


li {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
}

@media (max-width: 768px) {
    .card {
        flex-basis: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .card {
        flex-basis: 100%;
    }
}

@media (max-width: 320px) {
    .car-item img {
        width: 250px;
        height: 250px;
        object-fit: cover;
    }

}

@media (max-width: 375px) {
    .car-item img {
        width: 200px;
        height: 200px;
        object-fit: cover;
    }

}

@media (max-width: 320px) {
    .business-card-image {
        max-width: 300px;
        height: 150px;
    }

}